:root {
  --color-white: #ffffff;
  --color-green: #01996D;
  --color-dark-green: #245852;
  --color-black: #000000;
  --color-light-black:#484848;
}

/* media breakpoints: 992px, 768px, 576px, 480px */